<style>
  .container {
    margin: auto;
    width: 60%;
      border: 3px solid #73AD21;
      padding: 10px;
  }
</style>
<div class="container">

<h1>New User</h1>

<% if params[:not_found] then %>
  <p>error logging in. please sign up for a new account or <a href="/">try logging in again</a></p>
<% end %>

<%= form_for(@user) do |f| %>
  <%= f.label(:username) %>
  <%= f.text_field(:username) %>
  <br />
  <%= f.label(:password) %>
  <%= f.text_field(:password) %>
  <br />
  <%= f.label(:email) %>
  <%= f.text_field(:email) %>
  </br>
  <%= f.submit %>
<% end %>
</div>