<h1>All Reviews</h1>

<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid orange;
    padding: 10px;
    text-align: left;
  }
</style>

<table cellspacing="10">
  <thead>
    <tr>
      <td>User</td>
      <td>Shop</td>
      <td>Taco</td>
      <td>Rating</td>
      <td>Comment</td>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |r| %>
      <% if ((r.retrieve_shop_name != "(none") || (r.retrieve_taco_name != "(none)")) then %>
        <tr class="review-row" id="<%= dom_id(r) %>">
          <% @this_user = User.find_by id: r.user_id %>
          <td class="user"><a href="/users/<%= @this_user.id %>"><%= @this_user.username %></a></td>
          <td class="shop"><a href="/shops/<%= Shop.find_by(name: r.retrieve_shop_name).id%>"><%= r.retrieve_shop_name %></a></td>
          <td class="taco"><%= r.retrieve_taco_name %></td>
          <!-- <td class="rating"><%= r.get_rating.rating %></td> -->
          <td class="rating"><%= r.retrieve_rating_value %></td>
          <td class="comment"><%= r.comment %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>